.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
    background-color: #532F8C;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding-bottom: 80px;
}

.App-header p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em;
}

.App-header .profile-banner {
    max-width: 100%;
    padding-bottom: 60px;
}

.App-header .profilepic {
    display: block;
    background: #532F8C;
    border-radius: 50%;
    overflow: hidden;
    width: 21vmin;
    height: 21vmin;
    margin: auto;
    border: 2px solid white;
}

.App-header .profilepic img {
    max-width: 100%;
}

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
